<footer class="footer">
  <div class="container footer-inner">
    <div class="footer-text-container">
      <p>Website custom programmed using HTML, CSS, and Node.js</p>
      <p>&copy; 2024 Max Cole.</p>
    </div>

    <div class="footer-links">
      <a href="https://linkedin.com/in/maxwell-cole-722534265" target="_blank" aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://github.com/maxwellcole9" target="_blank" aria-label="GitHub">
        <i class="fa-brands fa-square-github"></i>
      </a>
      <a href="https://www.instagram.com/mx.co.art/" target="_blank" aria-label="Instagram">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
      <a href="/contact" aria-label="Email">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </div>
  </div>
</footer>
