<main id="portfolio-page">
    <div id="info-card">
        <h1 id="page-header">A-Life Challenge</h1>

            <div id="body-elements">
                <div id ="text-box">
                    <h2>Status: Ongoing</h2>
                    <p>Team Members: Maxwell Cole, Ethan Doll, Wyatt Holliday, Henry Pfluke, Sasha Rosenthal, and Myles Scholz</p>
                    <p>Working with a small software development team and senior instructor William Pfiel at Oregon State University’s College of Electrical Engineering and Computer Science to produce an artificial life simulation. The simulation will allow researchers and general enthusiasts alike to view basic cellular microbiology as it mutates and evolves through generations, producing complex interactions and interesting developments. The project is intended to assert energy as the basis for all life as it determines reproduction, movement, complexity, and intelligence, where the most energy efficient creatures have the best chance of survival.</p>
                </div>
                <div class = "link-info">
                    <p>The public GitHub repository is avaliable</p>
                    <a href="https://github.com/MylesScholz/A-Life-Capstone-Project" target="https://github.com/MylesScholz/A-Life-Capstone-Project">Here</a>
                </div>
            </div>
    </div>
</main>