<main id="project-page">
    <div id="info-card">
        <h1 id="page-header">A-LIFE-CHALLENGE (2023-2024)</h1>

        <div id="body-elements">

            <div id ="text-box">

                <div id="contributor-section">
                    <h2>Status: Ongoing</h2>
                    <h3>Team Members: Maxwell Cole, Ethan Doll, Wyatt Holliday, Henry Pfluke, Sasha Rosenthal, and Myles Scholz</h3>
                    <div id="github-button">
                        <img src="symbols/icons8-github.svg" alt="GitHub Icon" style="vertical-align: middle;"><a href="https://github.com/MylesScholz/A-Life-Capstone-Project" target="_blank">Github Repository</a>
                    </div>
                </div>

                <div id="skills-section">
                    <h2>Skills used</h2>
                    <p>Programming Languages: C++, Godot</p>
                    <p> Software Engineering, UI development, testing, Scrum Development Framework</p>
                </div>

                <h2>Description</h2>
                <p>Working with a small software development team and senior instructor William Pfiel at Oregon State University’s College of Electrical Engineering and Computer Science to produce an artificial life simulation. The simulation will allow researchers and general enthusiasts alike to view basic cellular microbiology as it mutates and evolves through generations, producing complex interactions and interesting developments.</p>
            </div>
                
            <div id = "content-box">
                <video controls loop autoplay muted>
                    <source src="images/ALIFEdemoVid.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</main>