<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/page-css/about.css">
    <link rel="stylesheet" href="/page-css/template.css">
    <title>About Page</title>
</head>
<body>
    <div id="about-page">
        <div id="info-card">
            <div id="card-header">
                <h1>BIO</h1>
            </div>
            <div id="body-elements">
                <div id ="bio-text-box">
                    <p>Growing up in Boise, Idaho in the early 2000’s I gained a huge passion for the outdoors, anything Star Wars, and of course computers. I built my first computer in 2013 and since then have fallen in love with optimizing my build, coding, and graphic design. This led to my eventual attendance at Oregon State University for Computer Science and applied Artificial Intelligence.</p>
                    <p>My goal in software engineering is to create easy-to-use technology which deepens the connection between people and the understanding of the world around them. This goal, along with my greater interest in technology stem from a childhood growing up alongside the age of information. I have seen technology shift to become more intuitive and natural, and now with developments in AI, the potential for everything to shift in new and interesting ways inspires me.</p>
                    <p>I believe I have a unique skillset in that I am graphically minded and creative while still possessing deep knowledge in different computer science fields. To me software is naturally linked with design, and many of the issues that are considered technical may become more simple when considered from a visual standpoint.</p>
                    <p>If you are interested in reading more about my technical experience, please view my resume below. If you are interested in my work experience, see the contacts page for my LinkedIn.</p>
                </div>
                <div id ="content-box">
                    <img src="/images/max.jpg" alt="Max">

                    
                </div>
            </div>
        </div>

        <div id="info-card">
            <div id="card-header">
                <h1>RESUME</h1>
            </div>

            <div id="body-elements">
                <div id ="resume-text-box">
                    <div id="resume-button-container">
                        <a href="./MaxwellColeResume2023.01.pdf#zoom=150" download="ColeMax_Resume_2023" id="resume-button">
                            DOWNLOAD RESUME
                        </a>
                        <a href="/contact" id="resume-button">
                            CONTACT PAGE
                        </a>
                    </div>
                </div>
                <div id ="resume-content-box">
                    <iframe id="resume-iframe" src="MaxwellColeResume2023.01.pdf"></iframe>

                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>