<body>
    <div id="about-page">
        <div id="info-card">
            <div id="card-header">
                <h1>BIO</h1>
            </div>
            <div id="body-elements">
                <div id ="text-box">
                    <p>Maxwell Cole is a senior at Oregon State University's Electrical Engineering and Computer Science College, studying Computer Science with an applied option in Artificial Intelligence. At Oregon State he has gained experience in web development, data structures, object-oriented programming,  and collaborative development. Specializing in C/C++, Python, HTML/CSS, Maxwell has a proven track record of delivering creative and efficient solutions for independent clients, research projects, and personal projects.</p>
                </div>
                <div id ="content-box">
                    <img src="/images/max.jpg" alt="Max">

                    
                </div>
            </div>
        </div>

        <div id="info-card">
            <div id="card-header">
                <h1>RESUME</h1>
            </div>

            <div id="body-elements">
                <div id ="text-box">
                    <p>You may view my current resume in the provided viewer or download it using the button below. If you would like to contact me please use the contact button.</p>
                    <div id="resume-button-container">
                        <a href="./MaxwellColeResume2023.01.pdf#zoom=150" download="ColeMax_Resume_2023" id="resume-button">
                            DOWNLOAD
                        </a>
                    </div>
                </div>
                <div id ="content-box">
                    <iframe id="resume-iframe" src="MaxwellColeResume2023.01.pdf"></iframe>

                    
                </div>
            </div>
        </div>
    </div>
</body>