<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/page-css/page.css">
    <link rel="stylesheet" href="/page-css/template.css">
    <link rel="stylesheet" href="layout.css">


    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <title>About Page</title>
</head>
<body>
    <div class="landing-section">
        <h1>Against Internship</h1>
        <div class="color-boxes"><div class="horizontal-line"></div><div class="accent1"></div><div class="accent2"></div><div class="accent3"></div></div>

        <div class="section">
            <div class="horizontal-container">
                <div class="text-content">
                    <p>In hopes of improving skills not typically found within Computer Science majors and exploring my horizons, I applied for an internship at a strategy and marketing company called Against. When I received the internship, I did not realize how much it would fundamentally teach me in contextualizing a problem and using data in complex ways to provide a solution. I utilized these skills to produce ad campaigns for local clients, work on research-based website projects, and to provide creative media concepts.</p>
                    <p>See what I worked on below!</p>
                </div>

                <div class="image-content">
                    <img src="images/AgainstIcon.png" alt="Against Logo">
                </div>
            </div>

            <div class="large-spacer"></div>

            <div class="vertical-container">

                <div class="vertical-container">
                    <h2>DOC Landing Page Redesign</h2>
                    <div class="horizontal-container">
                        <div class="slideshow-container">
                            <img src="/project-imgs/doc-project/doc1.png" class="project-image">
                            <img src="/project-imgs/doc-project/doc2.png" class="project-image">
                            <img src="/project-imgs/doc-project/doc3.png" class="project-image">
                            <img src="/project-imgs/doc-project/doc4.png" class="project-image">
                            <img src="/project-imgs/doc-project/doc5.png" class="project-image">
                            <img src="/project-imgs/doc-project/doc6.png" class="project-image">
                            <img src="/project-imgs/doc-project/doc7.png" class="project-image">
                        </div>

                        <div class="text-content">
                            <p>In a solo project, I got the opportunity to create a new landing page for a Direct Orthopedic Care, a local clinic which specializes in quick patient turnaround without the frustration of hospital visits. Backed by multi-level research, I proposed a landing page which accurately summarized all the information on the website, turning it into a one-stop-shop to help users with navigation. Through this, I learned better prototyping using the program Figma, delved into understanding SEO optimization, and produced concepts from competitor research.</p>
                            <a href="./about" class="button-link">
                                <button class="standard-button color1-trans shadow">View Prototype</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="standard-spacer"></div>
                <div class="large-spacer"></div>

                <h2>Marketing Campaigns</h2>
                <p>Working in tandem with two other interns, I helped to strategize, conceptualize, and produce marketing campaign proposals for local and national businesses. Our collaborative efforts involved extensive market research, data analysis, and brainstorming sessions to identify key target demographics and market trends.</p>

                <div class="standard-spacer"></div>
                
                <div class="horizontal-container">
                    <div class="text-content">
                        <h3>Sojo Awareness Campaign</h3>
                        <p>This campaign was designed to increase awareness for sojo, a company which provides automated amenity restocks for vacation rental homes. More specifically, sojo wanted to develop a plan to engage housekeeping company owners, a big market within those involved in vacation rental properties. In our research, we found that more usable and business-focused information would better reach this customer base. From this, I helped to develop concepts like a pricing calculator, onboarding training, trade show booths, and a redesign for their landing page to better optimize interactions.</p>
                    </div>

                    <div class="slideshow-container">
                        <img src="/project-imgs/sojo-project/sojo1.png" class="project-image">
                        <img src="/project-imgs/sojo-project/sojo2.png" class="project-image">
                        <img src="/project-imgs/sojo-project/sojo3.png" class="project-image">
                        <img src="/project-imgs/sojo-project/sojo4.png" class="project-image">
                    </div>
                </div>

                <div class="large-spacer"></div>

                <div class="horizontal-container">
                    <div class="text-content">
                        <h3>Co-op Conversion Campaign</h3>
                        <p>This campaign was designed to increase sales and memberships at the Boise Co-op, a local market in my hometown. This campaign challenged us to develop concepts in a new way which were highly directed for the purpose of conversion. Warping the knowledge of my hometown along with research gathered in-store, we picked up on how the Co-op was beginning to be perceived as any other generic grocery store. From this, We developed a comprehensive picnic event, a refresh to their in-store informational material in the form of a zine, and a video series documenting how the co-op has affected both the community and members alike. </p>
                    </div>

                    <div class="slideshow-container">
                        <img src="/project-imgs/coop-project/coop1.png" class="project-image">
                        <img src="/project-imgs/coop-project/coop2.png" class="project-image">
                        <img src="/project-imgs/coop-project/coop3.png" class="project-image">
                        <img src="/project-imgs/coop-project/coop4.png" class="project-image">
                    </div>
                </div>

                <div class="large-spacer"></div>

                <div class="vertical-container">
                    <h2>Skills Gained</h2>
                    <div class="text-container">
                        <ul>
                            <li><strong>Market Research:</strong> Conducted research to understand target demographics, trends, and competitors. Used data analytics to inform strategic decisions.</li>
                            <li><strong>Creative Conceptualization:</strong> Developed innovative concepts for marketing campaigns with engaging visuals and compelling narratives.</li>
                            <li><strong>Project Management:</strong> Managed multiple projects, ensuring timely delivery and high-quality outputs. Created detailed project plans and budgets.</li>
                            <li><strong>Digital Marketing:</strong> Proficient in social media marketing, content creation, email marketing, and SEO. Executed digital campaigns to drive engagement.</li>
                            <li><strong>Collaboration:</strong> Worked closely with interns and senior team members, fostering a collaborative environment and effective client communication.</li>
                            <li><strong>Web Design:</strong> Designed user-friendly web pages using Figma and Adobe XD, applying UX principles to create intuitive interfaces.</li>
                            <li><strong>Content Creation:</strong> Produced high-quality content for websites, social media, and print. Created visual assets using Photoshop and Illustrator.</li>
                            <li><strong>Presentation:</strong> Delivered persuasive presentations to clients, showcasing research findings and creative concepts.</li>
                            <li><strong>Problem-Solving:</strong> Adapted to new challenges quickly, employing creative solutions to overcome obstacles.</li>
                            <li><strong>Event Planning:</strong> Organized events such as trade show booths and community activities, coordinating logistics and creating promotional materials.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/JS-files/slideshow.js"></script>
</body>
</html>