<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/page-css/page.css">
    <link rel="stylesheet" href="/page-css/template.css">
    <title>Artwork Gallery</title>
</head>
<body>

    <div class="landing-section">
        <h1>Artwork Gallery</h1>
        <div class="color-boxes"><div class="horizontal-line"></div><div class="accent1"></div><div class="accent2"></div><div class="accent3"></div></div>
        
        <div class="artwork-container">
            <% artworks.forEach(artwork => { %>
                <div class="artwork">
                    <div class="artwork-title"><h2><%= artwork.pageTitle %></h2></div>
                    <img src="<%= artwork.imageSrc %>" class="artwork-image" alt="Artwork Image">
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>