<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/page-css/artpage.css">
    <title>Artwork Gallery</title>
</head>
<body>
    <div id="art-title-content">
        <h2> MX.CO ART </h2>
        <p> Welcome to my art gallery! </p>
    </div>
    <div id="artwork-container">
        <% artworks.forEach(art => { %>
            <img class="art-card" src="<%= art.image %>" alt="<%= art.title %>">
        <% }) %>
    </div>
</body>
</html>