<main id="bio">
    <h1>BIO</h1>
    <p>Maxwell Cole is a senior at Oregon State University's Electrical Engineering and Computer Science College, studying Computer Science with an applied option in Artificial Intelligence. At Oregon State he has gained experience in web development, data structures, object-oriented programming,  and collaborative development. Specializing in C/C++, Python, HTML/CSS, Maxwell has a proven track record of delivering creative and efficient solutions for independent clients, research projects, and personal projects.</p>
</main>