<main id="contact">
    <div id="info-card">
        <h1 id="page-header">CONTACT</h1>
        <div id="body-elements">
            <div id ="text-box">
                <p>I am always excited to connect with like-minded individuals, potential collaborators, or anyone interested in my work. Feel free to get in touch with me through any of the following channels.</p>
            </div>

            <div id ="content-box">
                <ul class="contact-list">
                    <li class="email">
                        <a href="mailto:max.cole4444@gmail.com" target="_blank">
                            <img src="symbols/icons8-connect.svg" alt="Email Icon" style="vertical-align: middle;">
                            Email
                        </a>
                    </li>
                    <li class="github">
                        <a href="https://github.com/EatYoCharms9" target="_blank">
                            <img src="symbols/icons8-github.svg" alt="GitHub Icon" style="vertical-align: middle;">
                            GitHub
                        </a>
                    </li>
                    <li class="linkedin">
                        <a href="https://linkedin.com/in/myusername" target="_blank">
                            <img src="symbols/icons8-linkedin.svg" alt="LinkedIn Icon" style="vertical-align: middle;">
                            LinkedIn
                        </a>
                    </li>
                    <li class="linkedin">
                        <a href="https://www.instagram.com/mx.co.art/" target="_blank">
                            <img src="symbols/icons8-instagram.svg" alt="Instagram Icon" style="vertical-align: middle;">
                            Instagram
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>