<main id="contact">
    <h1>CONTACT</h1>
    <h2>I am always excited to connect with like-minded individuals, potential collaborators, or anyone interested in my work. Feel free to get in touch with me through any of the following channels.</h2>

    <div id = "contact-list">

        <div class = "indiv-contact">
            <h3>Email</h3>
            <div class = "small-info">
                <p>For project inquiries, freelance opportunities, or questions:</p>
                <a href="mailto:max.cole4444@gmail.com">max.cole4444@gmail.com</a>
            </div>
        </div>

        <div class = "indiv-contact">
            <h3>GitHub</h3>
            <div class = "small-info">
                <p>Explore my projects and contributions:</p>
                <a href="https://github.com/EatYoCharms9" target="https://github.com/EatYoCharms9">GitHub Profile</a>
            </div>
        </div>

        <div class = "indiv-contact">
            <h3>LinkedIn</h3>
            <div class = "small-info">
                <p>Connect with me professionally and view my career journey:</p>
                <a href="#" target="_blank">LinkedIn Profile</a>
            </div>
        </div>

        <div class = "indiv-contact">
            <h3>Instagram</h3>
            <div class = "small-info">
                <p>Follow my personal art portfolio:</p>
                <a href="#" target="_blank">Instagram Profile</a>
            </div>
        </div>

    </div>
</main>