<main id="contact">
    <h1>CONTACT</h1>
    <p>I am always excited to connect with like-minded individuals, potential collaborators, or anyone interested in my work. Feel free to get in touch with me through any of the following channels.</p>

    <div class = "contact-list">

        <h3>Email</h3>
        <p>For project inquiries, freelance opportunities, or questions:</p>
        <a href="mailto:max.cole4444@gmail.com">max.cole4444@gmail.com</a>

        <h3>GitHub</h3>
        <p>Explore my projects and contributions:</p>
        <a href="https://github.com/EatYoCharms9" target="https://github.com/EatYoCharms9">GitHub Profile</a>

        <h3>LinkedIn</h3>
        <p>Connect with me professionally and view my career journey:</p>
        <a href="#" target="_blank">LinkedIn Profile</a>

        <h3>Instagram</h3>
        <p>View my digital artwork portfolio on Instagram:</p>
        <a href="#" target="_blank">Instagram Profile</a>




    </div>
</main>