<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/page-css/page.css">
    <title>Contact Page</title>
</head>
<body>
    <div class="landing-section">
        <h1 class="title-text-accent">Contact</h1>
        <div class="color-boxes"><div class="horizontal-line"></div><div class="accent1"></div><div class="accent2"></div><div class="accent3"></div></div>
        
        <div class="contact-container">
            <h2 class="email">Email: max.cole4444@gmail.com</h2>
            <a href="https://linkedin.com/in/maxwell-cole-722534265" class="contact">
                <i class="fa-brands fa-linkedin"></i>
                <h2>LinkedIn</h2>
            </a>
            <a href="https://github.com/MaxwellCole9" class="contact">
                <i class="fa-brands fa-square-github"></i>
                <h2>Github</h2>
            </a>
            <a href="https://www.instagram.com/mx.co.art/" class="contact">
                <i class="fa-brands fa-square-instagram"></i>
                <h2>Instagram</h2>
            </a>
        </div>
    </div>
</body>
</html>