<main id="contact">
    <div id="info-card">
        <h1 id="page-header">CONTACT</h1>
                <ul class="contact-list">
                    <li class="email">
                        <a href="mailto:max.cole4444@gmail.com" target="_blank">
                            <span>Email</span>
                            <img src="symbols/icons8-connect.svg" alt="Email Icon" style="vertical-align: middle;">
                        </a>
                    </li>
                    <li class="github">
                        <a href="https://github.com/EatYoCharms9" target="_blank">
                            <span>GitHub</span>
                            <img src="symbols/icons8-github.svg" alt="GitHub Icon" style="vertical-align: middle;">
                        </a>
                    </li>
                    <li class="linkedin">
                        <a href="https://linkedin.com/in/myusername" target="_blank">
                            <span>LinkedIn</span>
                            <img src="symbols/icons8-linkedin.svg" alt="LinkedIn Icon" style="vertical-align: middle;">
                        </a>
                    </li>
                    <li class="linkedin">
                        <a href="https://www.instagram.com/mx.co.art/" target="_blank">
                            <span>Instagram</span>
                            <img src="symbols/icons8-instagram.svg" alt="Instagram Icon" style="vertical-align: middle;">
                        </a>
                    </li>
                </ul>
    </div>
</main>