<!DOCTYPE html>
<html lang="en">
    <main id = "home-page">

        <div id ="landing">
            <div id="title-content">
                <div id="title">
                    <div id="title-text-content">
                        <div id="title-text1">
                            <h1>MAX</h1>
                        </div>
                        <div id="title-text2">
                            <h1>COLE</h1>
                        </div>
                    </div>
                    <img src="images/MXicon.png" id="title-icon"></imgs>
                </div>

                <h2 id="typing"><span id="text"></span><span id="cursor"></span></h2>
            </div>
        </div>


        <div id = "information-section">

            <div id="about-me">
                <div>
                    <img src="images/Profile_Picture.png" id="about-picture"></imgs>
                </div>
                <div id="about-info">
                    <h2>ABOUT ME</h2>
                    <p>Maxwell Cole is a senior at Oregon State University's Electrical Engineering and Computer Science College, studying Computer Science with an applied option in Artificial Intelligence. At Oregon State he has gained experience in web development, data structures, object-oriented programming,  and collaborative development. Specializing in C/C++, Python, HTML/CSS, Maxwell has a proven track record of delivering creative and efficient solutions for independent clients, research projects, and personal projects.</p>
                </div>
            </div>

            <div id="project-example-section">
                <h2 id="card-title">PROJECTS</h2>
                <div id="project-cards-container">
                    <% projects.forEach(project => { %>
                        <div class="project-card" onclick="window.location.href='<%= project.url %>'">
                            <video autoplay loop muted class="project-card-background">
                                <source src="<%= project.videoSrc %>" type="video/mp4">
                            </video>
                            <h3><%= project.pageTitle %></h3>
                            <div class="project-card-info">
                                <p><%= project.description %></p>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>

            <div id="about-art">
                <div id="art-info">
                    <h2>MX.CO ART</h2>
                    <p>As the digital artist behind mx.co, I specialize in creating captivating artwork that ranges from abstract digital paintings to intricate graphic designs. Each piece is a testament to contemporary aesthetics, crafted to evoke emotion and provoke thought. My works, available for purchase, represent the cutting edge of digital artistry, offering collectors and enthusiasts a chance to own a part of the digital renaissance. With a commitment to innovation and quality, mx.co stands at the forefront of the digital art world, continually pushing boundaries and exploring new techniques to bring visionary art to life for a variety of spaces and platforms. </p>
                </div>
                <div>
                    <img src="images/MXiconPoster.jpg" id="about-picture"></imgs>
                </div>
            </div>

            <div id="art-example-section">
                <h2 id="card-title">ART</h2>
                <div class="artwork-container">
                    <div class="artwork-card">
                        <img src="images/Art_01.jpg" alt="Artwork 1">
                    </div>
                    <div class="artwork-card">
                        <img src="images/Art_02.jpg" alt="Artwork 2">
                    </div>
                    <div class="artwork-card">
                        <img src="images/Art_03.jpg" alt="Artwork 3">
                    </div>
                    <div class="artwork-card">
                        <img src="images/MXiconPoster.jpg" alt="Artwork 4">
                    </div>
                </div>
            </div>
        </div>

    </main>
</html>