<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/page-css/index.css">
    <link rel="stylesheet" href="/page-css/layout.css">
    <link rel="stylesheet" href="/page-css/page.css">


    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

    <title>Home Page</title>
</head>
<body>  

    <div class="spacer"></div>
    
    <div class="container">
        <h1 class="title">MAXWELL COLE</h1>
    </div>
    <div class="color-boxes"><div class="horizontal-line"></div><div class="accent1"></div><div class="accent2"></div><div class="accent3"></div></div>
    <h2 id="typing"><span id="text"></span><span id="cursor"></span></h2>

    <div class="large-spacer"></div>

    <div class="large-spacer"></div>

    <div class="large-spacer"></div>


    <div class="horizontal-container background-gray">
        <div class="vertical-container margin-right-large">
            <h2 class="text-accent-dark">What I Do</h2>

            <div class="text-content text-gap text-pretty padding-top-bottom padding-left-right">

                <p>I’m a freelance software engineer and full-stack developer based in Boise, Idaho, with a passion for blending creativity and technical expertise to craft innovative and impactful solutions. I thrive on pushing the boundaries of what’s possible, believing that the most meaningful problems are solved through curiosity, ingenuity, and bold experimentation.</p>
                <p>My current focus lies in exploring artificial intelligence and its profound impact on individuals, society, and the broader sense of purpose we define as humans. As we continue to expand the horizons of possibility, I believe this technology holds the potential to liberate us from repetitive patterns, enabling us to pursue greater creativity and freedom, rather than being confined by it.</p>
            </div>
        </div>

        <div class="center-container">
            <div class="fit-container">
                <div class="horizontal-container">
                    <h3 class="text-accent3 text-bold">What I'm Best At</h3>
                    <a href="./about" class="button-link">
                        <button class="button button-accent1">View About</button>
                    </a>
                </div>

                <div class="icon-container-format">

                    <div class="icon-group">
                        <div class="icon-group-inner">
                            <i class="devicon-c-plain"></i>
                            <i class="devicon-cplusplus-plain"></i>
                        </div>
                        <p>C / C++</p>
                    </div>

                    <div class="icon-group">
                        <i class="devicon-python-plain"></i>
                        <p>Python</p>
                    </div>

                    <div class="icon-group">
                        <div class="icon-group-inner">
                            <i class="devicon-html5-plain"></i>
                            <i class="devicon-css3-plain"></i>
                        </div>
                        <p>HTML / CSS</p>
                    </div>

                    <div class="icon-group">
                        <div class="icon-group-inner">
                            <i class="devicon-nodejs-plain"></i>
                            <i class="devicon-googlecloud-plain"></i>
                        </div>
                        <p>NodeJS / Gcloud</p>
                    </div>

                    <div class="icon-group">
                        <div class="icon-group-inner">
                            <i class="devicon-photoshop-plain"></i>
                            <i class="devicon-figma-plain"></i>
                        </div>
                        <p>Photoshop / Figma</p>
                    </div>

                    <div class="icon-group">
                        <i class="devicon-photoshop-plain"></i>
                        <p>MASM</p>
                    </div>
                </div>
            </div>  
        </div>
    </div>

    <div class="spacer"></div>

    <div class="horizontal-container background-gray">

        <div class="vertical-container margin-right-large">
            <h2 class="text-accent-dark">Portfolio</h2>
            <div class="text-content text-gap text-pretty padding-top-bottom padding-left-right">
                <p>My portfolio is a collection of projects that highlight my expertise in software development and digital design. From building scalable, high-performing software applications to crafting engaging, user-centered websites and creating unique custom artwork, each project reflects my commitment to innovation and precision.</p>
                <p>As both a developer and designer, I am deeply passionate about merging technical excellence with artistic creativity. Within this portfolio, you’ll discover projects that showcase my ability to solve complex problems and deliver groundbreaking solutions that challenge conventions and inspire new possibilities.</p>
            </div>
        </div>

        <div class="vertical-container padding-large">
            <div class="horizontal-container">
                <h3 class="text-accent3 text-bold">Portfolio Snapshot</h3>
        
                <a href="./portfolio" class="button-link">
                    <button class="button button-accent1">View Portfolio</button>
                </a>
            </div>

            <div class="projects-section" data-projects='["vrc-web-scraper", "doc-page", "this-website", "protobiota"]'>
                <div class="grid-container-format"></div>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <script src="JS-files/slides.js"></script>
    <script>
        const allProjects = <%- JSON.stringify(allProjects) %>;
    </script>
</body>
</html>