<!DOCTYPE html>
<html lang="en">

    <div id="title-info">
        <h1 id="typing"><span id="text"></span><span id="cursor"></span></h1>
        <p>Software Engineer - Web Designer - Digital Artist</p>
    </div>

    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div id="subtitle">
        <h1>Portfolio</h1>
    </div>
    
</html>