<!DOCTYPE html>
<html lang="en">

    <div id="title-info">
        <div id="title-text">
            <h1>MAXWELL COLE</h1>
        </div>
        <h2 id="typing"><span id="text"></span><span id="cursor"></span></h2>
    </div>

    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div id="subtitle">
        <h1>Portfolio</h1>
    </div>
    
</html>