<!DOCTYPE html>
<html lang="en">
    <main id = "home-page">

        <div id="title-content">
            <div id = "spec-code-background">
                <div id="binary-text"></div>
            </div>
            <div id="title">
                <img src="images/profile_picture.png" id="profile-picture"></imgs>
                <div id="title-text">
                    <h1>MAXWELL</h1>
                    <h1>COLE</h1>
                </div>
            </div>

            <h2 id="typing"><span id="text"></span><span id="cursor"></span></h2>
        </div>

        <div id="project-cards-container">
            <div class="project-card" onclick="window.location.href='/a-life'" style="background-image: url('images/BackgroundPhoto.jpg');">
                <div class="project-info">
                    <h3>A-Life Challenge</h3>
                    <p>Short description of the project...</p>
                </div>
            </div>

            <div class="project-card" onclick="window.location.href='link-to-project-page.ejs'" style="background-image: url('images/MasmShot.png');">
                <div class="project-info">
                    <h3>MASM Quest</h3>
                    <p>Short description of the project...</p>
                </div>
            </div>

            <div class="project-card" onclick="window.location.href='link-to-project-page.ejs'" style="background-image: url('images/BackgroundPhoto.jpg');">
                <div class="project-info">
                    <h3>Dynamic Recipe App</h3>
                    <p>Short description of the project...</p>
                </div>
            </div>

            <div class="project-card" onclick="window.location.href='link-to-project-page.ejs'" style="background-image: url('images/BackgroundPhoto.jpg');">
                <div class="project-info">
                    <h3>Small Shell "Smallsh"</h3>
                    <p>Short description of the project...</p>
                </div>
            </div>
        
        </div>

        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </main>
</html>