<main id="portfolio-page">
    <div id="info-card">
        <h1 id="page-header">MASM Quest</h1>

            <div id="body-elements">
                <div id="text-box">
                    <h2>Status: Completed</h2>
                    <h3>Created by Maxwell Cole, Julia Yang, Audrey Au</h3>
                    <img src="symbols/icons8-github.svg" alt="GitHub Icon" style="vertical-align: middle;"><a href="#fill" target="_blank">Github Repository</a>
                    <p>Embark on a turn-based combat journey from your command prompt with MASM quest, coded in MASM for x86 architecture. The program is designed to exemplify knowledge in MASM through the complex utilization of registers, high-level math, and the display and management of ASCII sprites.</p>
                </div>

                <div id = "content-box">
                    <video controls loop autoplay muted>
                        <source src="images/MASMclip.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
    </div>
</main>