<main id="portfolio-page">
    <div id="info-card">
        <h1 id="page-header">MASM Quest</h1>

            <div id="body-elements">
                <div id="text-box">
                    <h2>Status: Completed</h2>
                    <p>EX description</p>
                </div>

                <div id = "content-box">
                    <video controls loop autoplay muted>
                        <source src="images/MASMclip.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>

            <div class="link-info">
                <p>The public GitHub repository is available</p>
                <a href="#fill" target="_blank">Here</a>
            </div>
    </div>
</main>