<main id="portfolio-page">
    <div id="info-card">
        <h1 id="page-header">MASM Quest</h1>

            <div id="body-elements">
                <div id="text-box">
                    <h2>Status: Completed</h2>
                    <p>EX description</p>
                </div>
                <div class="link-info">
                    <p>The public GitHub repository is available</p>
                    <a href="#fill" target="_blank">Here</a>
                </div>
            </div>
    </div>
</main>