<main id="portfolio-page">
    <div id="info-card">
        <h1 id="page-header">Recipe App</h1>

        <div id="body-elements">
            <div id="text-box">
                <h2>Status: Ongoing</h2>
                <h3>Project by Maxwell Cole, Andrew Dang, Max Cheskin, Julia Yang, Tyler Green</h3>
                <img src="symbols/icons8-github.svg" alt="GitHub Icon" style="vertical-align: middle;"><a href="https://github.com/max-wild/dynamic-recipes" target="_blank">Github Repository</a>
                <p>Developed a custom recipe app program. EX description</p>
            </div>

            <div id ="content-box">
                <img src="/images/max.jpg" alt="Max">
            </div>
        </div>
    </div>
</main>