<main id="portfolio-page">
    <h1>Dynamic Recipe App</h1>
    <h2>Status: Completed</h2>
    <p>Team Members: Maxwell Cole, Julia Yang, Tyler Greenwood, Max Wild, Max Cheskin, and Nate Bernstein</p>
    <div class = "link-info">
        <p>The public GitHub repository is avaliable</p>
        <a href="https://github.com/max-wild/dynamic-recipes" target="https://github.com/max-wild/dynamic-recipes">Here</a>
    </div>

    <p>Worked in a small software engineering team to develop a web-based recipe app which allows users to write and save recipes in a specified format that may be exported or searched through to create a customizable recipe catalogue. The project placed emphasis on the software engineering process, involving a Scrum development framework.</p>
</main>