<main id="resume-page">
    <div id="resume-card">
            <h1 id="resume-header">RESUME</h1>
        <div id="body-elements">
            <div id ="info-box">
                <p>You may view my current resume in the provided viewer or download it using the button below. If you would like to contact me please use the contact button.</p>
                <a href="./MaxwellColeResume2023.01.pdf#zoom=150"  width="500" height="300" download="ColeMax_Resume_2023" class="resume-button">
                    DOWNLOAD
                </a>
            </div>

            <div id ="content-box">
                
                <iframe id="resume-iframe" src="MaxwellColeResume2023.01.pdf"></iframe>
            </div>
        </div>
    </div>
</main>