<main id="resume">
    <h1>RESUME</h1>
    <a href="./MaxwellColeResume2023.01.pdf" download="ColeMax_Resume_2023" class="resume-title">
        DOWNLOAD
    </a>
    
    <iframe src="./MaxwellColeResume2023.01.pdf" width="100%" height="600px" style="border: none;"></iframe>
</main>

<script>
    document.querySelector('.resume-title').addEventListener('mouseenter', function() {
        this.textContent = '[DOWNLOAD]';
    });

    document.querySelector('.resume-title').addEventListener('mouseleave', function() {
        this.textContent = 'DOWNLOAD';
    });
</script>