<main id="portfolio-page">
    <h1>Smallsh</h1>
    <h2>Status: Ongoing</h2>
    <div class = "link-info">
        <p>The public GitHub repository is avaliable</p>
        <a href="https://github.com/MylesScholz/A-Life-Capstone-Project" target="https://github.com/MylesScholz/A-Life-Capstone-Project">Here</a>
    </div>

    <p>Developed a custom smallshell program. EX description</p>
</main>