:root {
    --primary-color: #0C0C0C;
    --secondary-color: #595959;
    --accent-color: #78D9AC;
    --accent-color2: #ED7BAF;
    --glow-color: rgba(120, 217, 172, 0.7);
    --text-color: #FFFAFA;
    --background-color: #0D0D0D;
    --card-background-color: rgba(18, 18, 18, 0.8);
}

html {
    scroll-behavior: smooth;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    overflow: auto;

    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    
    min-height: 100%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding: 0;

    background-image: linear-gradient(rgba(18, 12, 18, 0.8), rgba(18, 12, 18, 0.8)), url('images/BackgroundPhoto.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* -------GENERAL STYLES-------- */

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: clamp(50px, 5vw, 200px);
    color: var(--text-color);
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 2.5vw;
    color: var(--text-color);
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: clamp(20px, 5vw, 50px);
    color: var(--text-color);
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    line-height: 1.5;
    font-size: 1.2vw;
    color: var(--text-color);
    margin-bottom: 2.5%;
}

/* -------NAV BAR -------- */

nav {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--primary-color);
    
    display: flex;
    justify-content: center;
    text-align: center;

    z-index: 101; /* Ensures the nav bar stays above other content */
    width: 100vw;
    white-space: nowrap;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

nav ul {
    list-style-type: none; /* Added this line to remove bullet points */
}

nav ul li {
    white-space: nowrap;
}

nav ul li:first-child {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    left: 2.5%;
}

nav li {
    float: left;
}

nav li a, .dropbtn {
    font-size: 2vw;
    color: var(--text-color);
    font-weight: 500;

    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;

    transition: color 0.3s ease-in-out, text-shadow 0.1s ease-in-out;
}

nav li a:hover, .dropbtn:hover {
    color: var(--accent-color);
    text-shadow: 0 0 5px var(--glow-color);
}

nav li.dropdown {
    display: inline-block;
}

/* ------- DROPDOWN -------- */

.dropdown-content {
    display: block; /* Change this line */
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 25px;
    padding-top: 1%;
    z-index: 2;

    max-height: 0; /* Add this line */
    overflow: hidden; /* Add this line */
    transition: max-height 0.3s ease-out; /* Add this line */
}

.dropdown:hover .dropdown-content {
    max-height: 300px; /* Adjust this value as needed */
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: var(--accent-color);
}

.dropdown-label {
    font-size: 1.7vw;
    color: var(--text-color);
    font-weight: 500;
    text-transform: uppercase;
    margin: 5% 0% -2.5% 5%;

    text-align: left;
}

.drop-label {
    font-size: 1.7vw;
    color: var(--text-color);
    font-weight: 500;
    text-transform: uppercase;
    margin: -5% 0% 2.5% 2.5%;

    text-align: left;   
}

.drop-button{
    font-size: 1.5vw;
    color: var(--text-color);
    font-weight: 400;
    margin: 0% 0% -5% 1%;

    transition: color 0.3s ease-in-out, text-shadow 0.1s ease-in-out;
}

.dropdown-content a:last-child {
    padding-bottom: 10%; /* Adjust as needed */
}

.drop-button:hover {
    color: var(--accent-color);
    text-shadow: 0 0 5px var(--glow-color);
}

/* SOCIAL MEDIA FOOTNOTE TAB */

#social-media-tab {
    position: fixed;
    bottom: 2.5%;
    right: 2.5%;
    cursor: pointer;
}

#tab-button {
    background: var(--primary-color);
    border-radius: 50%;
    padding: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#tab-symbol {
    z-index: 1000;
    filter: invert(1);
    transition: transform 0.3s ease-in-out;
    width: 50px;
    height: 50px;
}

#social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2.4%;
    right: 2.5%; /* Initially align with the right side of the button */
    transform: translateY(0%) translateX(0%); /* Start aligned with the button */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background: var(--primary-color);
    border-radius: 50px;
    padding: 10px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    width: 0; /* Start with no width */
    overflow: hidden; /* Hide the overflowing content */
    z-index: 900;
}

#social-media-icons img {
    filter: invert(1);
    width: 50px;
    height: 50px;
    margin: 0 5px;
}

#social-media-icons.shown {
    transform: translateY(-2.5%) translateX(-30%); /* Slide out to the left */
    opacity: 1;
    visibility: visible;
    width: auto; /* Expand to fit content */
    overflow: visible; /* Show the content */
}