:root {
    --primary-color: #d6d3d1;
    --secondary-color: #e7e5e4;
    --tertiary-color: #f5f5f4;
    --accent-dark: #1c1917;
    --grey-accent-color: #EBE6E6;
    --accent-color: #009FF5;
    --accent-color2: #0085CC;
    --accent-color3: #EA0029;
    --text-color: #232323;
    --light-text-color: #fafafa;
    --background-color: #fafaf9;
    --navbar-height: 10vh;
}

/* -------GENERAL STYLES-------- */

h1 {
    font-family: 'Karman Grotesk', sans-serif;
    font-weight: 600;

    font-size: 4vw;
    color: var(--text-color);
}

h2 {
    font-family: 'Karman Grotesk', sans-serif;
    font-weight: 600;

    font-size: 3vw;
    color: var(--text-color);
}

h3 {
    font-family: 'Karman Grotesk', sans-serif;
    font-weight: 450;

    font-size: 1.5vw;
    color: var(--text-color);
}

p {
    font-family: 'Karman Grotesk', sans-serif;
    font-weight: 300;

    font-size: 1.25vw;
    line-height: 1.65;
    color: var(--text-color);
}

li {
    font-family: 'Karman Grotesk', sans-serif;
    font-weight: 300;

    font-size: 1.2vw;
    color: var(--text-color);
}

.title {
    font-size: 10vw;
    font-weight: 600;
    gap: 0;
    margin: 0;
    padding: 0; 
}

/* -------BODY SETUP------ */


html {
    scroll-behavior: smooth;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;   
}

body {
    scroll-behavior: smooth;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    min-height: 100vh;
    
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
}

main {
    padding: calc(3vw + var(--navbar-height, 10px)) 5vw 0 5vw; /* Adjusted padding */
    width: 100%;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
    main {
        padding: calc(6vw + var(--navbar-height, 10px)) 5vw 0 5vw; /* Adjusted padding for mobile */
    }
}

/* ELEMENTS */

.horizontal-line {
    width: 100%;
    height: 2.5px;
    background-color: var(--text-color);
}

.vertical-line {
    height: 100%;
    width: 2.5px;
    background-color: var(--text-color);
}

.color-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.color-boxes-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100%;
}

.accent1 {
    width: 2vw;
    height: 2vw;
    background: var(--accent-color);
}

.accent2 {
    width: 2vw;
    height: 2vw;
    background: var(--accent-color2);
}

.accent3 {
    width: 2vw;
    height: 2vw;
    background: var(--accent-color3);
}

.accent1-small {
    width: 1vw;
    height: 1vw;
    background: var(--accent-color);
}

.accent2-small {
    width: 1vw;
    height: 1vw;
    background: var(--accent-color2);
}
.accent3-small {
    height: 1vw;
    width: 1vw;
    background: var(--accent-color3);
}

/* FLEX CONTAINER SETUP */

/* #### NAV SECTION #### */

.nav-menu {
    list-style-type: none;

    position: fixed;
    top: 0;
    width: 100%;
    height: var(--navbar-height);

    padding: 0 2.5vw 0 2.5vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: var(--tertiary-color);

    z-index: 100;
    overflow: hidden;
}

.nav-menu a {
    font-size: 1.5vw;
    font-weight: 600;
    font-family: 'Hanken Grotesk', sans-serif;

    text-align: center;
    text-decoration: none;

    position: relative; /* Required for positioning the pseudo-element */
}

.menu-button {
    height: fit-content;
    padding: 0.5vw 1vw 0.5vw 1vw;
    margin: 0 0.5vw 0 0.5vw;
    background-color: var(--secondary-color);
    color: var(--text-color);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.menu-button:hover {
    background-color: var(--accent-color3);
    color: var(--light-text-color);
    transform: scale(1.05);
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: row;


    background-color: var(--tertiary-color);
    position: relative;

    align-items: center;
    width: 100%;
    padding: 2.5vw;
    bottom: 0;

    margin-top: 5vw;
    overflow: hidden;
    z-index: 0;
}

.footer-text-container {
    display: flex;
    flex-direction: column;

    padding: 1.5vw;
    background-color: var(--secondary-color);
}

.footer-links {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;

    flex-wrap: nowrap;

    gap: 1vw;
    padding: 2vw;
}

.footer-links a {
    color: var(--text-color);
    text-decoration: none;
}

.footer-links i {
    font-size: 2.5vw;
    transition: transform 0.3s ease-in-out;
}

.footer-links i:hover {
    transform: scale(1.2);
}