#project-page {
    height: 100vh;
}

#about-page {
    height: 100vh;
}

/* INDIVIDUAL PROJECT PAGE STYLES */

#info-card {
    margin-top: 10%;
    margin-bottom: -7.5%;
    background-color: var(--card-background-color);
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    border-radius: 50px;

    width: 80vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    animation: fadeInDropDown 1.5s ease-out;
}

#page-header{
    margin: 2% 2.5% 0 2.5%;

    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-weight: 500;
    font-size: 4vw;

    animation: fadeIn 1s ease-out; /* Add this line */
}

#card-header {
    background-color: var(--card-background-color2);
    border-radius: 50px;
}

#card-header h1 {
    margin: 0% 2.5% 0% 2.5%;
    padding: 10px 0px 10px 0px;

    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-weight: 500;
    font-size: 4vw;
    animation: fadeIn 1s ease-out;
}

#body-elements {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
}

#text-box {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);

    animation: fadeInDropDown 1.5s ease-out;
    margin: 2% 2% 2% 2%;
    width: 50%;
}

#text-box img {
    filter: invert(1);
    width: 40px;
    height: 40px;
    margin-right: 1%;
    margin-bottom: 1.5%;
}

#text-box p{
    margin: 1% 1% 1% 1%;
}

#text-box h2{
    color: var(--accent-color);
    font-weight: 400;
    font-size: 1.2vw;
}

#text-box h3{
    margin-top: 0%;
    font-weight: 400;
    font-size: 1.2vw;
}

#contributor-section {
    margin-bottom: 2.5%;
}

#contributor-section h3 {
    margin-bottom: 2.5%;
}

#github-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 15vw;
    white-space: nowrap;

    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    margin-top: 2.5%;
    margin-left: 2.5%;
}

#github-button img {
    filter: invert(1);
    margin-right: 2.5%;
}

#github-button a{
    font-size: 1.5vw;
    margin-bottom: 1%;
    text-decoration: none;
    color: var(--text-color);
}

#github-button:hover {
    background-color: var(--glow-color);
}

#skills-section {
    margin-bottom: 2.5%;
}

#skills-section p {
    margin: 1% 1% 1% 1%;
    line-height: 1.25;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dropDown {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

#content-box {
    width: 50%;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 2.5% 2.5% 2.5% 2.5%;
}

#content-box img, video {
    animation: fadeIn 2s ease-out;

    width: 100%;
    height: 100%;
    object-fit: cover; /* Add this line */
    border-radius: 25px;
}

#content-box iframe {
    min-width: 100%;
    min-height: 50vh;
    border-radius: 25px;
}

/* --- GENERAL PROJECTS PAGE STYLES --- */

#project-page-title {
    margin-top: 10%;
    margin-bottom: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects-container {
    display: flex;
    flex-direction: grid;
}

.project {
    margin: 0% 1% 0% 1%;
    width: 20vw;
    height: 30vh;
    overflow: hidden;
    position: relative;
}

.project-title {
    width: 100%;
    background: var(--card-background-color);
    border-radius: 25px;
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 2.5% 0% 2.5% 0%;
}

.project img, video {
    width: 100%;
    height: 100%;
    animation: fadeIn 2s ease-out;
    object-fit: cover; /* Add this line */
    border-radius: 25px;
}

.project h2 {
    width: 100%;
    margin-left: 2.5%;

    color: var(--text-color);
    font-size: 1vw;
}

/* --- RESUME PAGE STYLES --- */

#resume-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#resume-card {
    background-color: var(--card-background-color);
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    border-radius: 50px;

    width: auto; /* Adjust as needed */
    height: fit-content;
    display: flex;
    flex-direction: column;
    animation: dropDown 1.5s ease-out; /* Use the dropDown animation */
}

#resume-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HOME PAGE CONTENT - LANDING */

#home-page {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically in the container */
    align-items: center; /* Centers content horizontally in the container */
    height: fit-content;
    position: relative; /* Ensures proper positioning within the layout */
}

#landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* TITLE ICON AND TEXT */

#title-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title-text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 50;
}

#title-icon {
    margin-left: -7.5%;
    margin-bottom: 1.5%;
    width: 20vw;
    min-width: 300px;
    height: auto;
    animation: fadeInFromRight 1.5s ease-out;
}

#title-text1 h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: clamp(150px, 10vw, 300px);
    color: var(--text-color);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    animation: fadeInFromLeft 1.5s ease-out;
    white-space: nowrap;
    margin-bottom: -15%;
}

#title-text2 h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: clamp(150px, 10vw, 300px);
    color: var(--text-color);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    animation: fadeInFromLeft 1.5s ease-out;
    white-space: nowrap;
}

/* TYPING EFFECT UNDER TITLE */

#typing {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: clamp(20px, 2vw, 100px);
    white-space: nowrap;
    overflow: hidden;
}

#text::after {
    content: '|';
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInDropDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* LOWER HOME PAGE SECTION INCLUDING PROJECT INFO */

#information-section {
    margin-top: 1%;
    height: 100vh;
    width: 80vw;
}

#about-me {
    margin-left: -5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#about-info {
    margin-left: 2.5%;
    width: 40vw;
}

#about-info p {
    margin-left: 2.5%;
}

#about-picture {
    width: 200px;
    height: auto;
}

/* --- PROJECT CARD --- */

#project-example-section{
    margin-top: 5%;
    margin-bottom: 5%;
}

#card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5%;
}

#project-cards-container {
    width: 80vw;
    height: 40vh; /* Adjust this to control the height of the container */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 10;
    position: relative; /* Establish a stacking context for z-index */
    overflow: hidden; /* Hide the cards that are not at the top of the stack */
}

/* Individual project cards */
.project-card {
    width: 50vw;
    height: 40vh;
    position: absolute; /* Add this line */
    transform: scale(0.9); /* Offset the cards to the right and scale them down */
    transition: transform 1s, opacity 1s;
    z-index: 0; /* Start with all cards at the bottom of the stack */
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.project-card.active {
    transform: scale(1); /* Bring the active card to the front and center */
    z-index: 1;
    opacity: 1; /* Make the active card fully opaque */
}

.project-card-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.project-card-info {
    position: absolute; /* Add this line */
    bottom: 0;

    height: 40%;

    border-radius: 20px;

    background-color: var(--card-background-color);
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
}

.project-card-info p {
    padding: 1% 1% 1% 1%;
    margin: 1% 1% 1% 1%;

    display: -webkit-box; /* Add this line */
    -webkit-line-clamp: 4; /* Add this line, change the number to the number of lines you want */
    -webkit-box-orient: vertical; /* Add this line */
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-card h3 {

    height: auto;
    width: auto;
    padding: 1% 1% 1% 1%;
    margin: 1% 1% 1% 1%;

    font-weight: 500;
    color: var(--text-color);

    background-color: var(--card-background-color);
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);

    border-radius: 20px;
    font-size: 35px;
}

#about-art {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#art-info {
    margin-right: 2.5%;
    width: 40vw;
}

#art-info p {
    margin-left: 2.5%;
}

#art-example-section {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.artwork-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 10;
}

.artwork-card {
    width: 300px;
    height: 300px;

    margin-left: 0.5%;
    margin-right: 0.5%;
}

.artwork-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* RESUME BUTTON */

#resume-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

#resume-button {
    font-size: 1.5vw;
    color: var(--text-color);
    text-align: center;
    text-decoration: none;

    background-color: var(--primary-color); /* Use color variable */
    padding: 10px 10px;
    border-radius: 20px;

    transition: background-color 0.3s ease;
    width: 300px; /* Set a fixed width larger than the text */
}

#resume-button:hover {
    background-color: var(--glow-color); /* Use color variable */
}

/* CONTACT PAGE */

#contact-landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-card {
    background-color: var(--card-background-color);
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    border-radius: 25px;

    width: auto; /* Adjust as needed */
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#contact-header {
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 4vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-list {

    height: 45vh;
    width: 25vw;
    list-style-type: none;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items vertically */
}

.contact-list li {
    margin-bottom: 2.5%;
    width: 20vw;

    display: flex; /* Use flexbox */
    flex-direction: row;
    align-items: center; /* Center items vertically */
    text-align: center;
}

.contact-list li a {
    padding: 2.5% 2.5% 2.5% 2.5%;

    color: var(--text-color); /* Match the text color with the rest of the document */
    font-size: 3vw;
    text-decoration: none;
    width: 100%;

    background-color: var(--secondary-color);
    transition: -color 0.3s ease;
    border-radius: 25px;
}

.contact-list li a:hover {
    color: var(--accent-color);
}

.contact-list li img {
    filter: invert(1);
    height: 1em;
    margin-bottom: 2.5%;
    margin-left: -2.5%;
}

/* EFFECTS */

@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInDropDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}