body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Code', monospace;
    line-height: 1.6;
    background-color: #B0B5BF;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    /* justify-content: center; */ /* Add this line to center vertically */
    height: 100vh; /* Add this line to make the body take full viewport height */
    position: relative;
}


#blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    z-index: -1;
}


#code-background {
    font-family: 'Fira Code', monospace;
    color: #BFD9D4;
    font-size: 20px;
    position: fixed;
    top: 0; /* Adjust this value to push the code below the nav bar */
    left: 0;
    width: 100%;
    height: 100%; /* Adjust height to compensate for the shifted top */
    z-index: -2;
    overflow: hidden;
    white-space: nowrap;
}

#code-background-2 {
    font-family: 'Fira Code', monospace;
    color: #BFD9D4;
    font-size: 20px;
    position: fixed;
    top: 0; /* Adjust this value to push the code below the nav bar */
    left: 0;
    width: 100%;
    height: 100%; /* Adjust height to compensate for the shifted top */
    z-index: -2;
    overflow: hidden;
    white-space: nowrap;
}

/* DROPDOWN CONTENT */

#main-header {
    z-index: 2;
    display: flex;
    flex-direction: column; /* Change to column to stack items vertically */
    align-items: center; /* Center align the items horizontally */
    justify-content: center; /* Center align the items vertically */
    color: #0D0D0D;
    width: 100%; /* Ensure it takes full width */
}

nav {
    background-color: rgba(165, 171, 182, 0.25);
    display: inline-block; /* Or inline-flex depending on your layout */
    padding: 10px 0;
    text-align: center;
    position: fixed; /* This makes the nav bar fixed at the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 4; /* Ensures the nav bar stays above other content */
}

header ul {
    font-size: 25px;
    list-style-type: none;
    padding: 0;
    margin: 0; /* Reset default margin */
    display: flex;
    justify-content: center;
}

header ul li {
    margin: 0 10px;
}

header a {
    text-decoration: none;
    color: #0D0D0D;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #B6F2D6;
}

/* DROPDOWN CONTENT */

nav li {
    float: left;
}

nav li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(165, 171, 182, 0.75); /* Or your preferred dropdown background color */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: #0D0D0D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #B6F2D6;
    color: #0D0D0D;
}

.dropdown:hover .dropdown-content {
    display: block; /* Display the dropdown */
}

/* TITLE + TITLE EFFECTS  + INFO SUBHEADER FOR MAIN PAGE */

#title-info {
    position: absolute; /* Take it out of the normal flow */
    top: 50%; /* Position half way down the parent */
    left: 50%; /* Position half way across the parent */
    transform: translate(-50%, -50%);
}

#typing {
    font-family: 'Fira Sans', monospace;
    font-weight: 300;
    font-size: 150px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 1100px; /* Adjust this width to fit your full text */
}

#text::after {
    content: '|';
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

#title-info p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;    
    margin-top: -40px;
    margin-bottom: 10px; /* Adjust space below the title */
}

/* MAIN CONTENT */

#subtitle h1 {
    z-index: 2;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    position: absolute; /* Position the element absolutely */
    bottom: 0; /* Align it to the bottom */
    left: 0; /* Align it to the left */
    width: 100%; /* Stretch it across the full width */
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    height: 100px; /* Adjust the height as needed */   
}

header {
    z-index: 2;
    display: flex;
    flex-direction: column; /* Change to column to stack items vertically */
    align-items: center; /* Center align the items horizontally */
    justify-content: center; /* Center align the items vertically */
    color: #0D0D0D;
    width: 100%; /* Ensure it takes full width */
    height: 100px; /* Make header take full viewport height */
}

#bio {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    
    z-index: 4;
    display: flex;
    flex-direction: column; /* Change to column to stack items vertically */
    align-items: left; /* Center align the items horizontally */
    margin-left: 150px;
    margin-right: 150px;
    justify-content: flex-start; /* Center align the items vertically */
    padding-top: 30px;
}

#bio p{
    margin-top: -40px;
    font-size: 25px;
}

#bio h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 150px;
}

#resume {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: #0D0D0D;
    
    z-index: 2;
    display: flex;
    flex-direction: column; /* Change to column to stack items vertically */
    margin-bottom: 150px;
    justify-content: flex-start; /* Center align the items vertically */
}

#resume h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px; /* Example spacing */
}

#resume a {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 50px;
}

.resume-title {
    display: inline-block;
    background-color: #BFD9D4; /* Background color for resume title */
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: #0D0D0D;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    width: 300px; /* Set a fixed width larger than the text */
    overflow: hidden; /* Ensures content does not exceed button boundaries */
}

.resume-title:hover {
    content: "[DOWNLOAD]"; /* This won't work in CSS; see explanation below */
}

footer {
    background-color: #B0B5BF; /* Your chosen color */
    color: #0D0D0D;
    text-align: center;
    padding: 10px 0; /* Adjust padding as needed */
    width: 100%;
}