/* -------GENERAL STYLES-------- */

:root {
    --primary-color: #262626;
    --secondary-color: #595959;
    --accent-color: #B6F2D6;
    --glow-color: rgba(191, 217, 212, 0.7);
    --text-color: #F2F2F2;
    --background-color: #0D0D0D;
    --card-background-color: rgba(38, 38, 38, 0.7);
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--text-color);
    line-height: 2;
    overflow: hidden;

    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    height: 100vh; /* Add this line to make the body take full viewport height */
    position: relative;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/BackgroundPhoto.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Adjust as needed */
    z-index: -1;
}

@keyframes dropDown {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

#info-card {
    margin: auto;
    width: 80%; /* Adjust as needed */
    height: 80%; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    animation: dropDown 1.5s ease-out; /* Use the dropDown animation */
    will-change: transform; /* Only the transform will change */
}

#page-header{
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--accent-color);
    font-weight: 400;
    font-size: 6vw;
    width: 100%;
    height: 20%;
    margin-bottom: -2.5%;

    animation: fadeInDropDown 1.5s ease-out;
}

#body-elements {
    background-color: var(--card-background-color);

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%; /* Adjust as needed */
}

#text-box {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--text-color);
    font-weight: 300;
    font-size: 1vw;
    width: 50%; /* Adjust as needed */
    height: 100%;
    flex: 1;

    animation: fadeInDropDown 1.5s ease-out;

    /* Other styles remain the same */
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
    flex-direction: column; /* Add this line */
}

#text-box p{
    margin: 5% 5% 5% 5%;
}

#text-box a{
    justify-content: center; /* Add this line */

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#content-box {
    width: 50%; /* Adjust as needed */
    height: 100%;
    display: flex;
    align-items: center;
    animation: fadeIn 1s ease-out; /* Add this line */
}

#content-box img, #resume-iframe {
    max-width: 100%;
    max-height: 100%;
}

#content-box iframe {
    width: 100vh;
    height: 50vh;
}

/* -------BACKGROUND TEXT EFFECT-------- */

#blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    z-index: -1;
}


#code-background, #code-background-2 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--accent-color);
    text-shadow: 0 0 10px var(--glow-color); /* Adjust the values for your desired glow effect */
    opacity: 50%;

    font-size: 25px;
    line-height: 25px;
    position: fixed;
    top: 0;
    width: 50%; /* Half width for each */
    height: 100%;
    z-index: -2;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes glow-animation2 {
    0%, 100% {
        text-shadow: 0 0 5px var(--glow-color);
    }
    50% {
        text-shadow: 0 0 10px var(--glow-color);
    }
}

#code-background {
    left: 0;
}

#code-background-2 {
    right: 0;
    /* For right-to-left typing effect, ensure text is aligned right */
    text-align: right; 
}

/* TITLE + TITLE EFFECTS  + INFO SUBHEADER FOR MAIN PAGE */

#profile-picture {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 60%;
    height: 60%;
    background-image: url('/images/profile_picture.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Place it behind the title-info content */
    transform: translate(-50%, -50%); /* Center the image */
}

#title-info {
    position: absolute; /* Take it out of the normal flow */
    top: 75%; /* Position half way down the parent */
    left: 50%; /* Position half way across the parent */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-text h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(200px, 10vw, 300px);
    font-weight: 400px;
    color: var(--accent-color);
    text-shadow: 0 0 15px var(--glow-color);
    animation: fadeInDropDown 1.5s ease-out;
    white-space: nowrap;
}

@keyframes fadeInDropDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#typing {
    color: var(--text-color);
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: clamp(30px, 2vw, 150px);
    white-space: nowrap;
    overflow: hidden;
    margin-top: -12.5%;
}

#text::after {
    content: '|';
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

/* -------NAV BAR -------- */

nav {
    background-color: var(--primary-color);

    margin-top: 5vh; /* Adjust as needed */
    border-radius: 5vw; /* Adjust as needed */
    display: flex;
    justify-content: center;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 101; /* Ensures the nav bar stays above other content */
    
    min-width: 650px;
    white-space: nowrap;

    padding: 1vh 2vw; /* Adjust as needed */
}

nav ul {
    list-style-type: none; /* Added this line to remove bullet points */
}

nav ul li {
    white-space: nowrap;
}

nav ul li a {
    font-size: clamp(20px, 2vw, 40px);
    color: var(--text-color);
    margin-right: 0.5vw; /* Adjust as needed */
}

nav ul li a:hover {
    color: var(--accent-color);
}

nav li {
    float: left;
}

nav li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

nav li.dropdown {
    display: inline-block;
}

/* ------- DROPDOWN -------- */

.dropdown-content {
    display: block; /* Change this line */
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 25px;
    padding-top: 0.5vh;
    z-index: 2;

    max-height: 0; /* Add this line */
    overflow: hidden; /* Add this line */
    transition: max-height 0.3s ease-out; /* Add this line */
}

.dropdown .dropbtn[aria-expanded="true"] + .dropdown-content {
    max-height: 200px; /* Add this line */
}

.dropdown-content a {
    margin-bottom: -1.5vh;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:last-child {
    padding-bottom: 1.5vh; /* Adjust as needed */
}

.dropdown-content a:hover {
    color: var(--accent-color);
}

.dropdown .dropbtn img {
    transition: transform 0.3s ease;
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    filter: invert(1); /* Change this line */
}

.dropdown .dropbtn[aria-expanded="true"] img {
    transform: rotate(180deg); /* Add this line */
}

/* CHEVRON ARROW */

.arrow {
    z-index: 2;
    position: absolute;
    left: 50%;
    bottom: 5%;
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1vw;
    height: 1vw;
    border-bottom: 2px solid var(--text-color);
    border-right: 2px solid var(--text-color);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

#subtitle h1 {
    color: var(--text-color);
    z-index: 2;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 50px;
    position: absolute; /* Position the element absolutely */
    bottom: 2%; /* Align it to the bottom */
    left: 0; /* Align it to the left */
    width: 100%; /* Stretch it across the full width */
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    height: 100px; /* Adjust the height as needed */   
}

/* RESUME BUTTON */

#resume a {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.resume-button {
    margin-right: 20px;
    background-color: var(--primary-color); /* Use color variable */
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color); /* Use color variable */
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 300px; /* Set a fixed width larger than the text */
    overflow: hidden; /* Ensures content does not exceed button boundaries */
}

.resume-button:hover {
    background-color: var(--accent-color); /* Use color variable */
    color: var(--text-color);
}

/* CONTACT PAGE */

.contact-list {
    list-style-type: none;
    padding: 20px;
    width: 100%;
}

.contact-list li {
    margin-bottom: 20px;
    width: 100%;
}

.contact-list li a {
    color: var(--text-color); /* Match the text color with the rest of the document */
    font-size: 70px; /* Make the text larger */
    text-decoration: none;
    display: inline-block; /* Required for padding to take effect */

    background-color: var(--secondary-color);
    transition: background-color 0.3s ease;
    border-radius: 50px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.contact-list li a:hover {
    background-color: var(--accent-color);
}

.contact-list li img {
    position: relative;
    top: -0.05em;
    filter: invert(1);
    height: 1em;
}

#project-cards-container {
    position: absolute; /* or 'fixed' if you want it to stay in view on scroll */
    left: 2.5%;
    bottom: 2.5%;
    width: 350px; /* Adjust as needed */
    height: 350px; /* Adjust as needed */
    z-index: 10; /* Ensure it's above other elements */
}

.project-card {
    border-radius: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; /* Initially invisible */
    transition: opacity 1s ease-in-out;
    display: flex;
    
    justify-content: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Card shadow */
    background-color: var(--primary-color); /* Card background color */
    background-size: cover; /* Cover the entire card area */
    background-position: center; /* Center the image in the card */
    background-repeat: no-repeat;
}

.project-card:first-child {
    opacity: 1;
}

.project-info {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--text-color);
    font-size: 20px;
    width: 60%; /* Adjust as needed */
    margin: 5%;
}

.project-info h3 {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--accent-color);
    font-weight: 500;
    font-size: 30px;
    width: 60%; /* Adjust as needed */
}

#footer {
    background-color: #B0B5BF; /* Your chosen color */
    color: #0D0D0D;
    text-align: center;
    padding: 10px 0; /* Adjust padding as needed */
    width: 100%;
}