/* -------GENERAL STYLES-------- */

:root {
    --primary-color: #0A0A0A;
    --secondary-color: #F2163E;
    --text-color: #F2F2F2;
    --background-color: #050505;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--text-color);
    line-height: 2;
    overflow: hidden;

    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    height: 100vh; /* Add this line to make the body take full viewport height */
    position: relative;
}

#info-card{
    margin-left: 15%;
    margin-right: 15%;
    height: fit-content;
    width: fit-content;
}

#body-elements{
    display: flex;
    flex-direction: row;
}

#body-elements img{
    width: 50%;
}

#text-box{
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--text-color);
    font-weight: 300;
    font-size: 30px;

    background-color: var(--primary-color);
}

#text-box p{
    margin: 5% 5% 5% 5%;
}

#page-header{
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 150px;
}


/* -------BACKGROUND TEXT EFFECT-------- */

#blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    z-index: -1;
}


#code-background, #code-background-2 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--secondary-color);
    text-shadow: 0 0 5px rgba(242, 27, 84, 0.5); /* Adjust the values for your desired glow effect */
    animation: glow-animation2 2s ease-in-out infinite;

    font-size: 25px;
    line-height: 25px;
    position: fixed;
    top: 0;
    width: 50%; /* Half width for each */
    height: 100%;
    z-index: -2;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes glow-animation2 {
    0%, 100% {
        text-shadow: 0 0 5px rgba(242, 27, 84, 0.5);
    }
    50% {
        text-shadow: 0 0 10px rgba(242, 27, 84, 0.8);
    }
}

#code-background {
    left: 0;
}

#code-background-2 {
    right: 0;
    /* For right-to-left typing effect, ensure text is aligned right */
    text-align: right; 
}

/* TITLE + TITLE EFFECTS  + INFO SUBHEADER FOR MAIN PAGE */

#title-info {
    position: absolute; /* Take it out of the normal flow */
    top: 40%; /* Position half way down the parent */
    left: 50%; /* Position half way across the parent */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-text h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 10vw;
    font-weight: 400px;
    color: var(--secondary-color);
    text-shadow: 0 0 15px rgba(242, 27, 84, 0.5);
}

#typing {
    color: var(--text-color);
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    white-space: nowrap;
    overflow: hidden;
    margin-top: -200px;
}

#text::after {
    content: '|';
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

/* -------NAV BAR + DROPDOWN-------- */

nav {
    margin-top: 100px;
    background-color: var(--primary-color);
    border-radius: 50px;
    display: inline-block; /* Or inline-flex depending on your layout */
    text-align: center;
    left: 0;
    right: 0;
    z-index: 101; /* Ensures the nav bar stays above other content */
    padding: 10px 30px 10px 30px;
}

nav ul {
    list-style-type: none; /* Added this line to remove bullet points */
}

nav ul li a {
    font-size: 40px;
    color: var(--text-color);
    margin-right: 15px;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

nav li {
    float: left;
}

nav li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

nav li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 25px;
    padding-bottom: 25px;
    z-index: 2;
  }

.dropdown-content a {
    margin-bottom: -20px;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: var(--secondary-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* MAIN CONTENT */

/* CHEVRON ARROW */

.arrow {
    z-index: 2;
    position: absolute;
    left: 50%;
    bottom: 12%;
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 2px solid var(--text-color);
    border-right: 2px solid var(--text-color);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

#subtitle h1 {
    color: var(--text-color);
    z-index: 2;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 50px;
    position: absolute; /* Position the element absolutely */
    bottom: 2%; /* Align it to the bottom */
    left: 0; /* Align it to the left */
    width: 100%; /* Stretch it across the full width */
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    height: 100px; /* Adjust the height as needed */   
}

/* RESUME PAGE */

#resume a {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.resume-button {
    margin-right: 20px;
    background-color: #BFD9D4; /* Background color for resume title */
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: #0D0D0D;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 125px; /* Set a fixed width larger than the text */
    overflow: hidden; /* Ensures content does not exceed button boundaries */
}

.resume-button:hover {
    background-color: #A0C0B0; /* Slightly different background color on hover */
    color: var(--text-color);
}

/* CONTACT PAGE */

#contact {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    
    z-index: 4;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}



.indiv-contact{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

    border-radius: 20px;
  
    backdrop-filter: blur(15px);
}

.small-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#contact h2{
    margin-right: 250px;
    margin-left: 250px;
    margin-top: -20px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

#contact a{
    padding-left: 10px;
}

#contact h1{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 100px;
}

#contact h3{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    z-index: 4;
    margin-bottom: -5px;
}

/* Portfolio-Page */

#portfolio-page {
    background-color: rgba(83, 86, 77, 0.8);
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);
    padding: 10px 10px 10px 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    margin-top: 30px;
    width: 800px;
    
    z-index: 4;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

#portfolio-page h1 {
    font-family: 'Fira Code', monospace;
    font-size: 50px;
}

#portfolio-page h2 {
    font-family: 'Fira Code', monospace;
    margin-bottom: 20px;
}

#portfolio-page p {
    margin-bottom: 20px;
}

#portfolio-page a {
    margin-left: 5px;
}

.link-info{
    display: flex;
    align-items: left;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#footer {
    background-color: #B0B5BF; /* Your chosen color */
    color: #0D0D0D;
    text-align: center;
    padding: 10px 0; /* Adjust padding as needed */
    width: 100%;
}