<section class="landing-section">
  <h1 class="title-text-accent">About</h1>
  <p class="text-pretty">
    I build intuitive software that simplifies, connects, and innovates. This site showcases my work and the services I offer.
  </p>
</section>
