<section class="landing-section">
  <h1 class="title-text-accent">Contact</h1>
  <ul class="contact-list">
    <li>Email: <a href="mailto:max.cole4444@gmail.com">max.cole4444@gmail.com</a></li>
    <li><a href="https://linkedin.com/in/maxwell-cole-722534265">LinkedIn</a></li>
    <li><a href="https://github.com/MaxwellCole9">GitHub</a></li>
  </ul>
</section>
