<div id="header-info">
    <h1 id="typing"><span id="text"></span><span id="cursor"></span></h1>
    <p>Software Engineer - Web Designer - Digital Artist</p>
</div>

<main>
    <h1>See Projects Below.</h1>
    <!-- Additional content specific to the index page -->
</main>