#contact-landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-card {
    background-color: var(--card-background-color);
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    border-radius: 25px;

    width: auto; /* Adjust as needed */
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#contact-header {
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 4vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-list {

    height: 45vh;
    width: 25vw;
    list-style-type: none;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items vertically */
}

.contact-list li {
    margin-bottom: 2.5%;
    width: 20vw; /* Adjust width relative to the viewport width */
    max-width: 100%; /* Prevent exceeding the parent container's width */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.contact-list li a {
    padding: 2.5% 2.5% 2.5% 2.5%;
    color: var(--text-color);
    font-size: 3vw;
    text-decoration: none;
    width: 100%;

    background-color: var(--card-background-color2);
    transition: background-color 0.3s ease;
    border-radius: 25px;
    overflow: hidden; /* Prevent text from overflowing */
}

.contact-list li a:hover {
    background-color: var(--glow-color);
}

.contact-list li img {
    filter: invert(1);
    height: 1em;
    margin-bottom: 2.5%;
    margin-left: -2.5%;
}