/* HOME PAGE CONTENT - LANDING */

#landing {
    height: 90vh
}

/* TITLE ICON AND TEXT */

#title-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 7.5% 2.5% 0 2.5%; 
}

.landing-image {
    width: 50%;
    height: auto;
}

/* TYPING EFFECT UNDER TITLE */

#typing {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: clamp(20px, 2vw, 100px);

    margin: 0 0 0 0.5%;
}

#text::after {
    content: '|';
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ==== ARROW ==== */

.arrow {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-75%, -50%);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/* SKILLS SECTION */

/* -! About Part */

.about-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: center;

    gap: 1em;
}

.about-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 2.5%;
}

.about-content p{
    margin: 1% 0 1% 0;
}


/* PROJECT SECTION */

#project-header {
    text-align: center;
    font-weight: 600;
}

.project-grid {
    display: grid;
    margin: 2.5% 2.5% 2.5% 2.5%;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5%;

    align-items: baseline;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.project-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 200px;

    object-fit: cover;

    border-radius: 10px;
    border: 2px solid var(--tertiary-color);

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
    .project-container {
        grid-template-columns: 1fr; /* Make the grid a single column */
        grid-auto-rows: auto;
    }
}

/* ART CONTAINER */