/* HOME PAGE CONTENT - LANDING */

.title {
    font-size: 10vw;
    color: var(--accent-color2);
    height: min-content;
    display: inline-block; /* Ensures the background matches the text width */
    line-height: 1; /* Ensures no extra space above or below the text */
}


/* TYPING EFFECT UNDER TITLE */

#typing-container {
    display: flex;
    flex-direction: column; /* Stack lines vertically */
    gap: 0.25vw; /* Space between lines */
    position: relative; /* Keep it in flow */
    overflow: hidden;
    height: 20vw; /* Reserved space to prevent layout shifting */
}

.cursor {
    display: inline-block;
    width: 2px; /* Width of the cursor */
    height: 1.75vw; /* Match the text's line height */
    background-color: var(--text-color); /* Match text color */
    margin-left: 5px; /* Add space between text and cursor */
    animation: blink 0.7s steps(1) infinite; /* Default blinking during typing */
    vertical-align: baseline; /* Align with the text baseline */
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.typing-line {
    font-size: 1.75vw; /* Matches your h3 styling */
    font-weight: 900;
    font-family: 'Doto', sans-serif;
    color: var(--text-color);
    line-height: 1.5; /* Ensures consistent spacing */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent overflow */
    position: relative; /* Ensure proper cursor positioning */
}

/* -! About Part */

.about-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: center;

    gap: 1em;
}

.about-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 2.5%;
}

.about-content p{
    margin: 1% 0 1% 0;
}


/* PROJECT SECTION */

#project-header {
    text-align: center;
    font-weight: 600;
}

.project-grid {
    display: grid;
    margin: 2.5% 2.5% 2.5% 2.5%;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5%;

    align-items: baseline;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.project-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 200px;

    object-fit: cover;

    border-radius: 10px;
    border: 2px solid var(--tertiary-color);

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
    .project-container {
        grid-template-columns: 1fr; /* Make the grid a single column */
        grid-auto-rows: auto;
    }
}

/* ART CONTAINER */